{% load i18n %}

    <form id="id-login_form" method=POST action="{% url 'login.process_login' %}">

    <div class="cl-horiz-bar-div">
        {% if not is_popup_login_registration %}
            {% if build_name == "discrete_build" %}
            <div class="cl-horizontal-bar-sub-div" id="id-div-horizontal-bar-first-cell">
                {% trans "Free confidential dating" %}.
            </div>
            {% endif %}

            {% if SITE_IS_TOTALLY_FREE %}
            <div class="cl-horizontal-bar-sub-div" id="id-div-horizontal-bar-first-cell">
                {% trans "100 percent free everything included" %}.
            </div>
            {% endif %}
        {% endif %}

        <div class="cl-div-horizontal-bar-login-cells">
            <div class="cl-horizontal-bar-sub-div" id="id-div-horizontal-bar-second-cell">
                &nbsp;
                {% if build_name == "lesbian_build" %}
                    {% trans "Are you already registered (female)? Enter here:" %}
                {% else %}
                    {% trans "Are you already registered? Enter here:" %}
                {% endif %}
                &nbsp;
            </div>

            <div class="cl-horizontal-bar-sub-div cl-div-horizontal-bar-input-field">

                    <!-- dummy input to take the autofocus away from the username input -->
                    <input type="hidden" autofocus="autofocus" />

                    <input type="text"
                       class="defaultText cl-gray-letters-text-prompt cl-nick-textinput-width-px cl-textinput-font-size"
                       title="{% trans 'username or email'%}"
                       id="id-login_fields-username_email" name="username_email" maxlength=50>
                    <!-- need to define two boxes for the password - but only one will be shown at a time -
           required for showing text prompt in the input box -->
                    <input type="text" class="cl-gray-letters-text-prompt cl-narrow-textinput-width-px cl-textinput-font-size"
                           value="{% trans 'password' %}" id="id-password-prompt"
                           name="password-prompt" maxlength=50>
                    <input type="password" class="cl-narrow-textinput-width-px cl-textinput-font-size" id="id-password-input"
                           name="password" maxlength=50>
                    <input id="id-submit-login-button" type="submit" class="cl-small-login-button"
                           value="{% trans 'Enter' %}!">
            </div>
        </div>
    </div>
    </form>

     <div id="id-forgot-password" ><div  class="cl-right-text" >
        <br>
        <a class="cl-dialog_anchor" href="{% url 'reset_password' %}">
            {% trans "Have you forgotten your password?" %}
        </a>
        <br><br>
     </div></div>

<script type="text/javascript">
    var loginErrorsDict = [];

    function handle_registered_login_form(location_where_to_show_errors) {


        $("#id-login_form").submit(function(e) {

            // prevent double clicks from being processed.
            $('#id-submit-login-button').attr('disabled', 'disabled');

            // show spinning loading icon
            $('#id-show-loading-spinner').show();


            clearBothRegistrationAndLoginFieldsErrors();

            if ($('#id-login_fields-username_email').val() == $('#id-login_fields-username_email')[0].title) {
                // if the username field has not been entered, then clear the default text that we show to the user
                // in the input box, before submitting
                $('#id-login_fields-username_email').val("");
            }

            var submit_form_url = $("#id-login_form").attr('action');
            $(this).ajaxSubmit({url: submit_form_url,
                dataType: "json",
                data: {'current_path' : window.location.pathname},
                clearForm: false,
                cache: false,
                success:  function(post_response) {
                    $('#id-submit-login-button').removeAttr('disabled'); // enable submit button

                    if ("Login_OK_Redirect_URL" in post_response) {
                        self.location = post_response["Login_OK_Redirect_URL"]; // load the URL that was passed back.

                    } else if ("Login_Error" in post_response) {

                        var extra_html = $('#id-forgot-password').html();
                        loginErrorsDict = post_response["Login_Error"];

                        //deal with password error here
                        if ('password' in loginErrorsDict) {
                            $("#id-password-prompt").addClass("cl-highlight_border");
                            $("#id-password-input").addClass("cl-highlight_border");
                        }

                        showFieldsErrors("login_fields", loginErrorsDict, extra_html,  location_where_to_show_errors);

                        if ($('#id-login_fields-username_email').val() == '') {
                            // if the username field has not been entered, show the default text
                            $('#id-login_fields-username_email').val($('#id-login_fields-username_email')[0].title);
                        }
                    } else {
                        var readable_object = JSON.stringify(post_response);
                        var error_html =  "handle_user_registration_form - unknown json response object: " + readable_object
                        reportAjaxError("NA", error_html, "handle_registered_login_form - success", "error");
                        showFieldsErrors("login_fields", [], error_html, location_where_to_show_errors);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $('#id-submit-login-button').removeAttr('disabled'); // enable submit button
                    var error_html;
                    if (jqXHR.responseText != undefined) {
                        error_html = jqXHR.responseText;
                    } else {
                        error_html = "handle_registered_login_form - unknown error";
                    }
                    reportAjaxError(textStatus, errorThrown, "handle_registered_login_form - error", "error");
                    showFieldsErrors("login_fields", [], error_html, location_where_to_show_errors);

                },
                complete: function() {
                    $('#id-show-loading-spinner').hide();
                }
            });
            // prevent normal page navigation upon form submission - this is the same as calling
            // e.preventDefault and e.stopPropagation
            return false;
        });
    }

    function handle_login_inputs() {
        // code for showing default text in the input box
        $(".defaultText").focus(function() {
            if ($(this).val() == $(this)[0].title) {
                $(this).val("");
            }
            $(this).removeClass("cl-gray-letters-text-prompt");
        });
        $(".defaultText").blur(function() {
            if ($(this).val() == "") {
                $(this).addClass("cl-gray-letters-text-prompt");
                $(this).val($(this)[0].title);
            }
        });
        $(".defaultText").blur();

        // code for swapping in and out the password textbox
        $('#id-password-prompt').show();
        $('#id-password-input').hide();
        $('#id-password-prompt').focus(function() {
            $('#id-password-prompt').hide();
            $('#id-password-input').show();
            $('#id-password-input').focus();
        });
        $('#id-password-input').blur(function() {
            if ($('#id-password-input').val() == '') {
                $('#id-password-prompt').show();
                $('#id-password-input').hide();
            }
        });
    }


    $(document).ready(function() {       
        handle_login_inputs();

        // the main registration page will show the error dialog in a different location than the "popup"
        // registration dialog box.
        {% if not is_popup_login_registration %}
            handle_registered_login_form("#id-over-image");
        {% else %}
            handle_registered_login_form("#id-show-registration-and-login");
        {% endif %}
    });


</script>