{% load i18n %}

{% if fortumo_data.country_override %}
        <h1>Warning - Fortumo country override to {{ fortumo_data.country_override }}</h1>
{% endif %}

    <form action="#" method="get">
        <p>
        {{ fortumo_data.radio_options|safe }}
        <p>
        <input class="cl-paypal-purchase cl-fortumo_purchase" type="submit" name="submit" value="{% trans 'Purchase' %}">
    </form>


<script type="text/javascript">
$(document).ready(function() {

    $(document).on("click", ".cl-fortumo_purchase", function() {
        // since we may dynamically create other popups that have purchase buttons/payment info, we need to make sure that
        // we select the input from the "closest" form (the one that the submit button has been pressed on)
        var fortumo_selected_payment_url = $(this).closest('form').find("input:radio[name=fortumo_price_point]:checked").val();
        // open the url in a new window
        window.open(fortumo_selected_payment_url, "_blank");
        return false;
    });
});
</script>