{% load i18n %}


{% if primary_user_profile_data_fields.is_primary_user %}
<!-- only primary user can upload photos to their account - otherwise, we are displaying photos
     for other clients in the system -->

    <div id="id-show_photo_rules_popup" style="display:none;">
        <strong>{% trans "General information" %}</strong>
        {% include "user_main_helpers/photo_instructions.html" %}
        <strong>{% trans "Photo rules:" %}</strong>
        {% include "user_main_helpers/photo_rules.html" %}
        <strong>{% trans "Public photos rules" %}</strong>
        {% include "user_main_helpers/photos_public.html" %}
        <strong>{% trans "Private photos rules" %}</strong>
        {% include "user_main_helpers/photos_private.html" %}
        <strong>{% trans "Prohibited photos" %}</strong>
        {% include "user_main_helpers/photos_prohibited.html" %}
        <br><br><input type="button" class="cl-submit" id="id-show_photo_rules_popup-close" alt="" value="{% trans 'I understand and accept these rules' %}">
    </div>

    <script type="text/javascript">


        $("#id-show_photo_rules_popup").ready(function(){
            $("#id-show_photo_rules_popup-close").button();
            $("#id-show_photo_rules_popup-close").on('click', function() {
                $("#id-show_photo_rules_popup").dialog("close");
                $.post("/rs/ajax/accept_photo_rules/", function() {
                });
            });
        });


    </script>


<script type="text/javascript">

    // Script for loading photos after clicking edit and photo-options form after
    // "edit" link has been clicked.
    $(document).ready(function() {
        $('#id-edit-photos-submit-data-section').hide();


        $("#id-edit-photos-link a").click(function() {
            
            $.get("/rs/ajax/check_if_photo_rules_to_be_shown/", function(html_response) {
               if (html_response == "show_rules") {
                   showDialogPopup("#id-show_photo_rules_popup", 700, 800, false);
               }
            });

            var load_url = '/rs/ajax/load_photos_for_edit/' + rnd() + "/";
            $('#id-photo-table-for-ajax-load').load(load_url, function() {
                fancyboxSetup($("a.cl-fancybox-profile-gallery", this));
            });
            $('#id-edit-photos-submit-data-section').show();
            return false; // ensure that browser doesn't navigate to the href page!
        });
    });

</script>
        

<script type="text/javascript">


    function handle_photo_upload_form() {


        // The following code automatically submits the file that is selected by the user
        // as opposed to adding a "submit" button. This is more consistent with the other
        // interfaces on the website, and makes more sense.
        $('#id-photo_upload-file').change(function() {

            $("#id-photo_upload-form-wrapper").hide();
            $("#id-show-ajax-loader").show();
            // Get the new submission URL
            var json_path = "/rs/ajax/load_photo_upload_form_url/" + rnd() + "/";
            $.getJSON(json_path,
                    function(json_data) {
                        var blobstore_submit_url = json_data['blobstore_submit_url'];

                        //setup_ajaxForm();
                        //$("#id-photo_upload-form").submit();


                        $('form#id-photo_upload-form').ajaxSubmit({url: blobstore_submit_url,
                            type: 'post',
                            clearForm: true,
                            cache: false,
                            success:  function(post_response) {
                                // write the returned html into the photo table
                                $('#id-photo-table-for-ajax-load').html(post_response);
                                $('#id-photo-table-for-ajax-load').ready(function () {
                                    // see comments above previous fancyboxSetup call
                                    fancyboxSetup($("a.cl-fancybox-profile-gallery"));
                                    $("#id-photo_upload-form-wrapper").show();
                                    $("#id-show-ajax-loader").hide();
                                    $("#id-photo_upload-file").attr({value: ''});
                                });
                            }
                        });
                    }
                    );
        });
    }


    $(document).ready(function() {


        // Fancybox hook. Associates fancybox with the profile photos.
        fancyboxSetup($("a.cl-fancybox-profile-gallery"));
        handle_photo_upload_form();
        $("#id-show-ajax-loader").hide();


        var submit_button_id = "#id-submit-photo_options";
        $(submit_button_id).click(function() {
            $.ajax({
                type: "POST",
                url: "/rs/store_photo_options/{{ primary_user_profile_data_fields.owner_uid }}/" + rnd() + "/",
                data: $("form#id-photo_options-form").serialize(),
                cache: false,
                success: function () {
                    var load_url = '/rs/ajax/load_photos/' + rnd() + "/";
                    var load_profile_url = '/rs/ajax/load_profile_photo/' + rnd() + "/";

                    $('#id-photo-table-for-ajax-load').load(load_url, function() {
                        fancyboxSetup($("a.cl-fancybox-profile-gallery"));
                    });

                    $('#id-profile-photo-table-for-ajax-load').load(load_profile_url, function() {
                        fancyboxSetup($("a.cl-fancybox-profile-gallery"));
                    });
                    $('#id-edit-photos-submit-data-section').hide();
                }
            });
        });
        mouseoverButtonHandler($(submit_button_id));
    });
</script>

{% else %}  <!-- not if_primary_user -->

<script type="text/javascript">
    $(document).ready(function() {
        fancyboxSetup($("a.cl-fancybox-profile-gallery"));
    });
</script>

{% endif %}

<form method="POST" id="id-photo_options-form">
    <div id="id-photo-table-for-ajax-load">
        {{ html_for_main.photos|safe }}
    </div>
</form>


{% if primary_user_profile_data_fields.is_primary_user %}
<div class="cl-clear"></div>
<div id="id-edit-photos-submit-data-section">

    <div class="cl-clear"></div>
    <div class="grid_2 alpha ">&nbsp;</div>
    <div class="grid_5 omega cl-color-text">



    </div>
    <div class="cl-clear"></div>

    <div class="grid_2 alpha ">&nbsp;</div>
    <div class="grid_5 omega" id="id-photo_upload-form-wrapper">
        <!-- Note, the following form does not have an "action" declaration, because submission
             is taken care of by the javascript -->
        <form method="post" id="id-photo_upload-form" enctype="multipart/form-data">
            <p><input type="file" name="Filedata" id="id-photo_upload-file" class="cl-file-input"
                      size=16></p>
        </form>
    </div>

    <div class="grid_5 alpha omega" id="id-show-ajax-loader">
        <img src="{{ MANUALLY_VERSIONED_IMAGES_DIR }}/small-ajax-loader.gif" align=middle alt=''>
    </div>


    <div class="grid_2 alpha omega">&nbsp;</div>
    <div class="grid_2 alpha omega">
        <input type=button class="cl-submit" id="id-submit-photo_options" alt="" value="{% trans 'Save changes' %}">
        <br><br>
    </div>

    <div class="cl-clear"></div>

    <div class="grid_2 alpha omega">&nbsp;</div>
    <div class="grid_2 alpha omega">
        <a href="#" id="id-show_photo_rules_anchor">{% trans "View photo upload rules" %}</a>
    </div>
    <div class="cl-clear"></div>

    <script type="text/javascript">
        $("#id-show_photo_rules_anchor").click(function() {
            showDialogPopup("#id-show_photo_rules_popup", 700, 800, true);
            return false; 
        });
    </script>

</div> <!-- "id-edit-photos-submit-data-section" -->
{% endif %}
