{% load i18n %}

<span class="cl-photo-rules-label">{% trans "General information" %}</span>
{% include "user_main_helpers/photo_instructions.html" %}
<span class="cl-photo-rules-label">{% trans "Photo rules:" %}</span>
{% include "user_main_helpers/photos_general.html" %}
<span class="cl-photo-rules-label">{% trans "Public photos rules" %}</span>
{% include "user_main_helpers/photos_public.html" %}
<span class="cl-photo-rules-label">{% trans "Private photos rules" %}</span>
{% include "user_main_helpers/photos_private.html" %}
<span class="cl-photo-rules-label">{% trans "Prohibited photos" %}</span>
{% include "user_main_helpers/photos_prohibited.html" %}