{% load i18n %}

<!-- this dialog box handler is appended as if it were another advertising unit -->
{% if not primary_user_presentation_data_fields.client_paid_status %}
    <div id="id-show_online_status_dialog_box" style="display:none;">
        <div id ="id-show_online_status_dialog_box-first_part">
            <p>
            {% blocktrans with app_name as app_name and SHOW_ONLINE_STATUS_TRIAL_TIMEOUT_MINUTES as minutes and BLOCK_ONLINE_STATUS_TRIAL_RESET_HOURS as reset  %}
            As a non-VIP (free) member of {{ app_name }}, you are allowed to see other members online status for {{ minutes }} minutes every {{ reset }} hours.
            {% endblocktrans %}
            </p>

            <p>
            {% blocktrans with SHOW_ONLINE_STATUS_TRIAL_TIMEOUT_MINUTES as minutes %}
            If you would like to use your free {{ minutes }} minute quota now, please press the button below. If you prefer to wait until later,
            just close this dialog box.
            {% endblocktrans %}
            </p>

            <p>
            <input id="id-show_online_status_button" type="submit" name="submit" value="{% trans 'Show online status' %}">
            </p>

        </div>

        <p>
        {% blocktrans %}
        VIP members are always shown the online status of other members.
        {% endblocktrans %}
        </p>


        <p>
        <a class="cl-dialog_anchor cl-see_all_vip_benefits" href="#">{% trans "See VIP benefits" %}</a>
        </p>

    </div>



    <div id ="id-show_online_status_dialog_blocked_message"  style="display:none;">
        <p>
        {% blocktrans with SHOW_ONLINE_STATUS_TRIAL_TIMEOUT_MINUTES as minutes %}
        You have already used your free {{ minutes }} minute trial. Time to wait before your next trial:
        {% endblocktrans %}
        </p>

    </div>
{% else %}
        <!-- user is already VIP -->
        <div id="id-show_online_status_dialog_box" style="display:none;">
            <p>{% blocktrans %}You are VIP member, therefore you are always shown the online status of other members{% endblocktrans %}</p>

        </div>
{% endif %}

<div id="id-show_online_status_dialog_title" style="display:none;">
    {% trans 'Show online status' %}
</div>

<div id="id-show_vip_benefits_dialog_box" style="display:none;">
   
</div>


<script type="text/javascript">

function showOnlineStatusButtonClickDialog() {
    $.ajax({
        type: 'post',
        url:  '/rs/ajax/set_show_online_status_trial/' + rnd() + "/",
        success: function(status) {
            // only process this json response if we are not currently processing a send_message call.
            if (status == "OK") {
                window.location.reload();
            } else {
                // the status will be the amount of time that the user must wait before receiving a new "view online status" trial

                //replace the button with a message telling them how long they have to wait for their next trial.
                $("#id-show_online_status_dialog_box-first_part").html(
                        $("#id-show_online_status_dialog_blocked_message").html() + "<p>" + status + "</p>"
                )
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            reportAjaxError(textStatus, errorThrown, "initialize_main_and_group_boxes_on_server");
        },
        complete: function() {
        }
    });
}

function showOnlineStatusMainDialog() {
    var $dialog = $("#id-show_online_status_dialog_box");

    $dialog.dialog({
        title : $("#id-show_online_status_dialog_title").text()
    });
    $dialog.dialog('open');
    // prevent the default action, e.g., following a link
    return false;
}

function showAllVipBenefitsDialog() {

    $("#id-show_vip_benefits_dialog_box").html($("#id-become_a_vip").html());
    $("#id-show_vip_benefits_dialog_box").dialog({
        width: '750px'
    });
    $("#id-show_vip_benefits_dialog_box").dialog('open');
    return false;
}

$(document).on("click",'.cl-see_all_vip_benefits', function(e) {
    showAllVipBenefitsDialog();
    e.preventDefault();
});

$('#id-show_online_status_menu_element').click(function() {
    return showOnlineStatusMainDialog();
});


$('#id-show_online_status_button').button();
$('#id-show_online_status_button').click(function(){
    showOnlineStatusButtonClickDialog();
});



</script>