{% load i18n %}

<div class="grid_12">
    <div class="cl-footer-divider-line"></div>
    <div class="cl-clear"></div>
    <div id="id-footer">
        <div class="grid_6 alpha  cl-left-text info-link-footer-format">
            <div class="cl-padding-3px">
                &copy; 2010 <a href="http://{{ company_www }}">{{ company_name }}</a> - {{ support_email_address }}
            </div>
        </div>

        <div class="grid_6  omega cl-right-text info-link-footer-format">
            <div class="cl-padding-3px">
                <a href="{% url 'views.terms' %}">{% trans "Terms and conditions" %}</a>
            </div>
        </div>
    </div> <!-- end grid_12 -->
</div>

<div class="cl-clear"></div>


<div class="cl-center-text">
    <!-- These spaces ensure that the terms and conditions are not hidden behind the chat boxes -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>


