{% load i18n %}

<div class="grid_12">
    <div class="cl-footer-divider-line"></div>
    <div class="cl-clear"></div>
    <div id="id-footer">
        <div class="grid_6 alpha  cl-left-text info-link-footer-format">
            <div class="cl-padding-3px">
                &copy; 2010 <a href="http://{{ company_www }}">{{ company_name }}</a> - {{ support_email_address }}
            </div>
        </div>

        <div class="grid_6  omega cl-right-text info-link-footer-format">
            <div class="cl-padding-3px">
                <a href="{% url views.terms %}" rel="address:{% url views.terms %}">{% trans "Terms and conditions" %}</a>
            </div>
        </div>
    </div> <!-- end grid_12 -->
</div>

<div class="cl-clear"></div>

<!-- Please do not remove the "Powered by LexaLink" icon and link to the LexaLink website -->
<!-- Removing this link will be considered a violation of the licensing agreement. -->
<div class="cl-center-text" id="id-lexalink_container">
    <br>
    <a href="http://www.lexalink.com"><img src="/{{ live_static_dir }}/images/LexaLink_button.png"
     alt="Powered by the LexaLInk social network and dating platform for the Google App Engine"></a>
    <br><br>
</div>
