{% load i18n %}

<div class="grid_12 cl-banner-background">
    <div class="grid_8 alpha" id="id-top-banner">
        {% if not primary_user_presentation_data_fields.username %}
        <!-- have cliking on logo link back to registration page -->
        <a href="/">
        {% endif %}

        {% if PROPRIETARY_BUILDS_AVAILABLE %}
        <img src="/proprietary/images/{{build_name}}/{{ build_name }}.png" align="middle" alt="{{ build_name }}.com">
        {% else %}
        <img src="/images/default_build/default_logo.png" align="middle" alt="{{ build_name }}.com">
        {% endif %}

        {% if not primary_user_presentation_data_fields.username %}
        </a>
        {% endif %}
    </div>


    {% if not hide_logo_banner_links %}

    <div class="grid_4 omega cl-right-text cl-language-selector cl-text-large-format" id="id-beside-top-banner-top">

        <div class="grid_4 alpha omega">
            <div class="cl-inline cl-vertical-align-middle cl-gray-text ">{% trans 'Translate' %}: </div><div class='cl-language-selector cl-inline cl-vertical-align-middle' id="google_translate_element"></div>
        </div>

        <div class="grid_4 alpha omega">

            <div class="cl-padding-5px cl-gray-text">
                {% if request.LANGUAGE_CODE == 'es' %}
                    View in <a class="cl-setlang" href="/setlang/en">English</a>
                {% endif %}
                {% if request.LANGUAGE_CODE == 'en' %}
                    Mirar en <a class="cl-setlang" href="/setlang/es">Español</a>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="grid_4 omega cl-right-text info-link-format" id="id-beside-top-banner-bottom">
        <div class="cl-padding-5px">
            <a href="{% url 'views.welcome' %}">
                {% trans "About" %} {{ app_name }}</a>

            {% ifequal app_name "RomanceSecreto" %}
                <img src="/images/info_divider.png" align="middle" alt="">
                <a href="{% url 'views.press' %}">{% trans "Press" %}</a>
            {% endifequal %}
        </div>
    </div>

    {% endif %}

</div>
<!-- end banner container div -->
<div class="cl-clear"></div>


<script type="text/javascript">
$('document').ready(function () {

    /* This code is used for styling the google translate element. It is necessary because the languages dropdown is shown in
       an iframe, which cannot be styled with normal CSS.
     */
    var anchor_color = $('.cl-language-selector a').css('color');
    var body_color = $('body').css('color');

    $('#google_translate_element').on("click", function () {
        // Change font family and color
        $("iframe").contents().find(".goog-te-menu2-item div, .goog-te-menu2-item:link div, .goog-te-menu2-item:visited div, .goog-te-menu2-item:active div, .goog-te-menu2 *")
            .css({
                'color': body_color,
                'font-family': 'Arial'
            });

        // Change hover effects
        $("iframe").contents().find(".goog-te-menu2-item div").hover(function () {
            $(this).css('background-color', anchor_color).find('span.text').css('color', 'white');
        }, function () {
            $(this).css('background-color', 'white').find('span.text').css('color', body_color);
        });

        // Change Google's default blue border
        $("iframe").contents().find('.goog-te-menu2').css('border', '1px solid gray');

    });
});
</script>