{% load i18n %}

<div class="grid_12 cl-banner-background">
    <div class="grid_8 alpha" id="id-top-banner">
        {% if not primary_user_presentation_data_fields.username %}
        <!-- have cliking on logo link back to registration page -->
        <a href="/">
        {% endif %}

        {% if proprietary_static_dir_exists %}
        <img src="/proprietary/images/{{build_name}}/{{ build_name }}.png" align="middle" alt="{{ build_name }}.com">
        {% else %}
        <img src="/images/default_build/default_logo.png" align="middle" alt="{{ build_name }}.com">
        {% endif %}

        {% if not primary_user_presentation_data_fields.username %}
        </a>
        {% endif %}
    </div>


    {% if not hide_logo_banner_links %}

    <div class="grid_4 omega cl-right-text cl-language-selector" id="id-beside-top-banner-top">


        <table class="cl-float-right">
            <tr>
                {% for lang in LANGUAGES %}
                    <td class="cl-info-td"><a class="cl-setlang" href="/setlang/{{ lang.0 }}" rel="address:/{{ lang.0 }}{{ request.path_info }}" >{{ lang.1 }}</a></td>
                {% endfor %}

        </table>
    </div>
    <div class="grid_4 omega cl-right-text info-link-format" id="id-beside-top-banner-bottom">
        <table class="cl-float-right">
            <tr>
                <td>&nbsp;</td>

                <td class="cl-info-td"><a href="{% url views.welcome %}" rel="address:{% url views.welcome %}">
                    {% trans "About" %} {{ app_name }}</a></td>

                {% ifequal app_name "RomanceSecreto" %}
                    <td class="cl-info-td"><img src="/images/info_divider.png"
                                                align="middle" alt=""></td>
                    <td class="cl-info-td"><a href="{% url views.press %}" rel="address:{% url views.press %}">{% trans "Press" %}</a></td>
                {% endifequal %}

            </tr>
        </table>

    </div>

    {% endif %}

</div>
<!-- end banner container div -->
<div class="cl-clear"></div>

