{% load i18n %}


{% if advertising_info.enable_ads %}
<br>
<div id="id-advertising-sidebar" class="grid_custom cl-grid_160px alpha omega cl-float_right">

    {% if guest_user_data_fields.registered_user_bool %}
        {% if THIS_BUILD_ALLOWS_VIP_UPGRADES %}

        <table class="rometo-advertising-table">
            <tr>
                <td class="rometo-advertising-td-header-footer">
                    <span class="cl-text-large-format">
                            {% if not primary_user_presentation_data_fields.client_paid_status %}
                                        {% trans 'Become a' %}
                                        <strong><a class="cl-see_all_vip_benefits" href="#">{% trans 'VIP member' %}</a></strong>.
                            {% else %}
                                        {% trans 'Your VIP membership expires' %}
                                        {{ primary_user_presentation_data_fields.client_paid_status_expiry_string }}.
                                        <br><br>
                                        {% trans 'If you extend your' %}
                                        {% trans 'VIP membership' %}
                                        {% trans 'before it expires, then you can' %}
                                        <strong><a class="cl-see_all_vip_benefits" href="#">
                                        {% trans 'take advantage of a special price' %}.
                                        </a></strong>
                                        {% trans 'Offer expires' %} {{ primary_user_presentation_data_fields.client_paid_status_expiry_string }}.
                            {% endif %}
                    </span>
                </td>
        </table>
        {% endif %}


    {% endif %}

    
    {% for ad in advertising_info.ad_template_list %}
        {{ ad|safe }}
        <br><br>
    {% endfor %}

        
    {% if refined_links_html %}
        <div class="cl-refine-search">
        {{ refined_links_html|safe }}
        </div>
        <br><br>
    {% endif %}

    <div class="cl-clear"></div>

</div>
{% else %}
<!-- ads are disabled for registration pages etc.. -->
{% endif %}