{% load i18n %}

<div class="cl-clear"></div>
<div class="cl-text-medium-format">
    <p><strong>
    Click on the images below to see the VIP plans available for each payment method
    </strong></p>
</div>
<table>
    <tr>
        <td>
        <a href="#" id="id-paypal_logo_button"><img src="/{{ live_static_dir }}/img/paypal/paypal_credit_card_logo_small.jpg"></a>
        </td>
        <td>
        <img src="/{{ live_static_dir }}/img/paypal/paypal_logo_small.jpg">
        </td>
        <td>
    </tr>
</table>


<!-- Note: since we currently have multiple paypal buttons defined on a single page (in pop-up menu, and at bottom of page)
     we need to define each region as a class as opposed to assigning an id, since an id would not be unique -->
<div class="cl-show_paypal_purchase_options" >
    {% include "user_main_helpers/paypal_purchase_dialog_contents.html" %}
</div>

