{% load i18n %}


<!-- Note: the following text is required by the javascript, but must be sent as part of the HTML
           in order for the language translation to properly work (since javascript files are static) -->
<div id="id-internet-down-dialog" title="Warning" style="display: none; ">
    <p>
        {% trans "It appears that your internet connection is not functioning correctly." %}</p>
</div>


<div id="id-session-closed-dialog" title="Warning" style="display: none; ">
    <p>
    {% blocktrans with app_name as app_name%}
        Your session has closed - you must re-login to continue to use {{ app_name }}.
    {% endblocktrans %}
    </p>
</div>


<div id="id-disactivate-chat-button-text" style="display:none;">
    {% trans "Close chat" %}
</div>

<div id="id-activate-chat-button-text" style="display:none;">
    {% trans "Open chat" %}
</div>


<div id="id-no-contacts-text" style="display:none;">
    {% trans "None of your contacts are logged into their chat at the moment" %}
</div>

<div id="id-no-groups-text" style="display:none;">
    {% trans "There are no chat groups currently available. Why don't you create one?" %}
</div>


<div id="id-chat-contact-title-text" style="display:none;">
    {% trans "Online chat friends" %}
</div>

<div id="id-chat-contact-title-user_presence_active-text" style="display:none;">
    <span class="cl-1-green_dot">&nbsp;&nbsp;&nbsp;</span> {% trans "(Active)" %}
</div>
<div id="id-chat-contact-title-user_presence_active-image" style="display:none;">
    <span class="cl-1-green_dot">&nbsp;&nbsp;&nbsp;</span>
</div>

<div id="id-chat-contact-title-user_presence_idle-text" style="display:none;">
    <span class="cl-2-yellow_dot">&nbsp;&nbsp;&nbsp;</span> {% trans "(Idle)" %}
</div>
<div id="id-chat-contact-title-user_presence_idle-image" style="display:none;">
    <span class="cl-2-yellow_dot">&nbsp;&nbsp;&nbsp;</span>
</div>

<div id="id-chat-contact-title-user_presence_away-text" style="display:none;">
    <span class="cl-3-red_dot">&nbsp;&nbsp;&nbsp;</span> {% trans "(Away)" %}
</div>

<div id="id-chat-contact-title-user_presence_away-image" style="display:none;">
    <span class="cl-3-red_dot">&nbsp;&nbsp;&nbsp;</span>
</div>

<div id="id-chat-contact-main-box-disactivated-text" style="display:none;">
    {% trans "Your chat is currently closed. You must open it to see your contacts." %}
</div>


<div id="id-chat-contact-main-box-loading-text" style="display:none;">
    {% trans "We are loading your online contact list. This may take a few moments." %}
</div>

<div id="id-chat-groups-box-loading-text" style="display:none;">
    {% trans "We are loading available chat groups. This may take a few moments." %}
</div>

<div id="id-chat-contact-title-loading-text" style="display:none;">
    {% trans "loading" %}
</div>

<div id="id-chat-group-title-text" style="display:none;">
    {% trans "Chat groups" %}
</div>

<div id="id-create-group-button-text" style="display:none;">
    {% trans "Create a group" %}
</div>

<div id="id-videocall-button-text" style="display:none;">
    {% trans "Video call" %}
</div>

<div id="id-chat_group_members-button-text" style="display:none;">
    {% trans "Group members" %}
</div>

